<%= form_for(@survey_tung) do |f| %>
  <% if @survey_tung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_tung.errors.count, "error") %> prohibited this survey_tung from being saved:</h2>

      <ul>
      <% @survey_tung.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
    <ol id="questions_list">
  <% f.fields_for :question_tungs do |builder| %>  
     <%= render 'question_tung_fields', :f => builder %>
  <% end %>	
   </ol>
  <p><%= link_to_add_fields "Add Question", f, :question_tungs %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
