<li>
<div class="fields">
  <p>  
    <%= f.label :content, "Question" %>
    <%= link_to_remove_fields "remove", f %><br />  
    <%= f.text_area :content, :rows => 3 %><br />
    <label for="select_question_type">Type:</label>
    <%= f.select :question_type, ["Text","Checkbox", "Radio", "Dropdown"], {:prompt => "Select"},:class => "select", :onchange => 'typeSelected()'%>
</p>

  <div id="answer_field" style="<%= 'display: none' if !f.object.question_type || f.object.question_type == "Text"%>">
      <ol>
        <% f.fields_for :answers do |builder| %>
            <%= render 'answer_fields', :f => builder %>
        <% end %>
      </ol>
      <p><%= link_to_add_fields "Add Answer", f, :answers %></p>
  </div>
</div> 
</li>
