<div class="span-23">
</div>
<div class="span-17 border">
  <img src="/images/home_banner.png">
</div>
<div class="span-6 last">
  <% if(!user_signed_in?) %>
  <h3><b>Sign in</b></h3> 
 
	<form accept-charset="UTF-8" action="/users/sign_in" class="user_new" id="user_new" method="post">
		<div style="margin:0;padding:0;display:inline">
			<input name="authenticity_token" type="hidden" value="daSkoiNhK/PVyL8vr7VmOBNKygBuYu2Nzod78+dX9FA=" />
		</div>   
		<input id="user_email" name="user[email]" size="25" type="email" value="" />
		<input id="user_password" name="user[password]" size="25" type="password" value="" />

		<input name="user[remember_me]" type="hidden" value="0" />
		<input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /><label for="user_remember_me">Remember me</label>

		<input id="user_submit" name="commit" type="submit" value="Sign in" />
	</form> 
 
	<a href="/users/sign_up">Sign up</a><br /> 
	<a href="/users/password/new">Forgot your password?</a><br /> 
	<a href="/users/unlock/new">Didn't receive unlock instructions?</a><br /> 
  <% else %>
    <br>Welcome <%= current_user.email %> <br>
    Your last login at ... </br>
    ............ <br>
    ............ <br>
    
  <% end %>
</div>


<div class="span-12 border">
	<h1>Newest surveys</h1>
	<table>
	  <tr>
	    <th>Title</th>
	    <th>User</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @survey_tungs.each do |survey_tung| %>
	  <tr>
	    <td><%= survey_tung.title %></td>
	    <td><%= survey_tung.user_id %></td>
	    <td><%= link_to 'Show', survey_tung %></td>
	    <td><%= link_to 'Edit', edit_survey_tung_path(survey_tung) %></td>
	    <td><%= link_to 'Destroy', survey_tung, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Survey tung', new_survey_tung_path %>

</div>
<div class="span-11 last">
	<h1> Most viewed surveys</h1>
</div>






